div#sudoku {
    width: 486px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

div#header div#tools table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

div#header div#tools table input {
    height: 35px;
    width: 90px;
    font-size: 20px;
}

div#sudoku table {
    border-collapse: collapse;
    font-size: 40px;
}
div#sudoku table td {
    border: 1px solid black;
    text-align: center;
    width: 50px;
    height: 50px;
}

div#sudoku table tr:first-child {
    border-top: 3px solid black;
}
div#sudoku table tr:nth-child(3n) {
    border-bottom: 3px solid black;
}

div#sudoku table td:first-child {
    border-left: 3px solid black;
}
div#sudoku table td:nth-child(3n) {
    border-right: 3px solid black;
}

