div#sudoku {
    width: 486px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
div#sudoku table {
    border-collapse: collapse;
    font-size: 40px;
}
div#sudoku table td {
    border: 1px solid black;
    text-align: center;
    width: 50px;
    height: 50px;
}

div#sudoku form#keyReceiver {
    display: none;
}

/*
div#sudoku table td:first-child, td:nth-child(4), td:nth-child(7) {
    border-left: 3px solid black;
}

div#sudoku table td:last-child {
    border-right: 3px solid black;
}

div#sudoku table tr:first-child, tr:nth-child(4), tr:nth-child(7) {
    border-top: 3px solid black;
}
div#sudoku table tr:last-child {
    border-bottom: 3px solid black;
}
*/